@page
@model TGLWebApp.Pages.Students.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>

<form method="post">
    Name
    <input asp-for="Student.Name" />
    Last Name
    <input asp-for="Student.LastName" />
    Nit
    <input asp-for="Student.Nit" />
    Age
    <input asp-for="Student.Age" />
    <button type="submit">
        Save
    </button>
</form>
<a asp-page="./Index">Return to list</a>

