@page
@model TGLWebApp.Pages.Students.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>
<div class="row">
    <form class="col s12" method="post">
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="first_name" type="text" class="validate" asp-for="Student.Name">
            <label for="first_name">Name</label>
        </div>
        <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" asp-for="Student.LastName">
            <label for="first_name">Last Name</label>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="nit" type="text" class="validate" asp-for="Student.Nit">
                <label for="nit">Nit</label>
            </div>
            <div class="input-field col s6">
                <input id="age" type="number" class="validate" asp-for="Student.Age">
                <label for="nit">Age</label>
            </div>
        </div>
            <button class="waves-effect waves-light btn" type="submit">
                Save
            </button>
</form>
</div>
<a asp-page="./Index">Return to list</a>

